@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font family to your elements */
body {
  font-family: 'Rubik', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Use the font for specific elements */
h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

/* Apply the font family to specific class or ID */
.custom-font {
  font-family: 'Montserrat', sans-serif;
}
@layer base {
  body {
    @apply font-primary bg-body text-white;
  }
  .h2 {
    @apply text-3xl capitalize;
  }
  .grad {
    @apply bg-gradient-to-t from-[#1F2126] to-[#33363D] drop-shadow-2xl;
  }
  .btn {
    @apply h-[50px] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
  }
  .btn-accent {
    @apply bg-accent text-primary hover:bg-accent-hover transition-all;
  }
  .input {
    @apply h-[50px] rounded-[8px] w-full outline-none px-6 text-primary;
  }
}

.product-category-title {
  direction: rtl;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.dir-rtl {
  direction: rtl;
}

.search-form-desktop {
  margin-right: 125px;
}

.logo-extra-style {
  margin-left: 90px
}

.bag-extra-style {
  margin-top: -12px;
}

.title-remove-container {
  display: flex;
  justify-content: space-between;
}

.search-input {
  padding-left: 0;
  padding-right: 4.5rem;
  direction: rtl;
}

.toast-container {
  width: 19%!important;
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-direction: column;
}

.cart-amount {
  top: 1.25rem
}

.price-info-checkout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.py-8 {
  padding-bottom: 2rem;
}

@media (max-width: 640px) {
  .py-8 {
    padding-top: 10rem;
  }
}

.cart-icon {
  margin-top: -45px;
  margin-right: 10px;
}

.cart-item-extra-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.checkout-title {
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  margin-bottom: -8px;
}